<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-cards</title>
</head>
<body>
    <!-- <div class="container" style="margin-top: 50px;">
        <div class="card-container">
            <div class="card ask-card">
              <div class="card-icon ask-icon">
              </div>
              <div class="card-text">
                <h3 class="card-title">Ask a question</h3>
                <p class="card-description">Get legal answers from lawyers. It's quick, easy, and anonymous!</p>
              </div>
              <a href="/ask-a-lawyer" class="card-button">Ask a question</a>
            </div>
          
            <div class="card talk-card">
              <div class="card-icon talk-icon"></div>
              <div class="card-text">
                <h3 class="card-title">Talk to a lawyer</h3>
                <p class="card-description">Schedule a 15-minute call with a lawyer. It's quick, easy, and confidential!</p>
              </div>
              <a href="/talk-to-a-lawyer" class="card-button">Talk to a lawyer</a>
            </div>
          
            <div class="card hire-card">
              <div class="card-icon hire-icon"></div>
              <div class="card-text">
                <h3 class="card-title">Hire a lawyer</h3>
                <p class="card-description">Send a legal notice, review a legal document, etc.</p>
              </div>
              <a href="/legal-services" class="card-button">Hire a lawyer</a>
            </div>
          </div>
    </div> -->


    <div class="container" style="width:2500vh">
        <div class="card-container">
          <div class="card ask-card">
            <div class="card-icon ask-icon" style="margin-left: 150px;"></div>
            <div class="card-text">
              <h3 class="card-title">Ask a question</h3>
              <p class="card-description">Get legal answers from lawyers. It's quick, easy, and anonymous!</p>
            </div>
            <a routerLink="app-login" class="card-button" style="background-color: #de8B2a;">Ask a question</a>
          </div>
      
          <div class="card talk-card">
            <div class="card-icon talk-icon" style="margin-left: 150px;"></div>
            <div class="card-text">
              <h3 class="card-title">Talk to a lawyer</h3>
              <p class="card-description">Schedule a 15-minute call with a lawyer. It's quick, easy, and confidential!</p>
            </div>
            <a routerLink="Display-Lawyer" class="card-button" style="background-color: #2b95af;">Talk to a lawyer</a>
          </div>
        </div>
      </div>
      
</body>
</html>