<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="user.component.css">
  <title>Document</title>
</head>
<body>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span class="img-logo"></span>
        <span class="text-logo">Legal advice online in India</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="userloggedin; else loginLink" [routerLink]="['/Ask-Question']">Ask a Question</a>
          </li>
          
          <ng-template #loginLink>
            <a class="nav-link" [routerLink]="['/app-login']">Ask a Question</a>
          </ng-template>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="app-talk-to-a-lawyer">Talk to a lawyer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Lawyers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-ipc">Find A Section/Ipc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Logout</a>
          </li>
          <li class="nav-item">
            <button class="nav-link btn-dark" (click)="deleteUser()">Another action</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="height: 320px;">
    <div class="banner-item banner-content banner-lead">
      <h1 class="banner-title" style="margin-left: 60px; margin-top: 60px; font-weight: bold;">Legal advice from lawyers</h1>
      <ul style="margin-left: 60px;">
        <li>Ask a question online and get answers from multiple lawyers in 1 hour!</li>
        <li>Talk to a lawyer on the phone and get legal advice for 15 minutes.</li>
      </ul>
      <div class="banner-buttons" style="margin-left: 180px;">
        <a class="banner-ask btn btn-primary" href="/ask-a-lawyer"><i class="icon-comment"></i><span>Ask a question online</span></a>
        <a class="banner-talk btn btn-danger" href="/talk-to-a-lawyer"><i class="icon-phone"></i><span>Talk to a lawyer</span></a>
      </div>
    </div>
    <div class="banner-item banner-img banner-image" style="margin-top: 10px;">
      <!-- <i><img src="https://www.kaanoon.com/assets/banner-img-e01f5f37ff764b3f89333c35960ccb760e396e8d09a411b5a4e752b35c869495.png" /></i> -->
      <i><img src="/assets/images/bannerHero.png" /></i>
    </div>
  </div>

  <div style="margin-top: 10px;">
    <app-home-cards></app-home-cards>
  </div>

</body>

</html>