<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">

    <h3>Ask Multiple Lawyers</h3>

    <form class="form-horizontal"(ngSubmit)="onSubmit()" #myForm="ngForm">
        <p class="form-horizontal" style="float: left; margin-left: 20px;">Get legal advice from multiple lawyers</p>
        
        <div class="form-group">
            <select [(ngModel)]="formData.domain" name="domain">
                <option>Area of Law</option>
                <option>Family Law</option>
                <option>Property Law</option>
                <option>Criminal Law</option>
                <option>Civil Law</option>
                <option>Consumer Law</option>
                <option>Business Law</option>
                <option>Labour</option>
                <option>Constitutional Law</option>
                <option>Intellectual Property</option>
                <option>Taxation</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Question title" [(ngModel)]="formData.qtitle" name="question" required>
        </div>

        <div class="form-group">
            <textarea rows="5" placeholder="Type your question here" [(ngModel)]="formData.qdesc" name="questiondesc" required></textarea>
        </div>
        
        <div class="form-group">
            <input type="checkbox" ><b> I agree to the <a href="#">Terms of Use</a> and <a >Privacy Policy</a></b>
        </div>

        <div class="form-group">
            <input type="submit" value="Continue">
        </div>
    </form>
  </div>
</body>
</html>