<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="text-center">
      <img src="assets/images/Sign In.png" alt="Registration Logo" class="registration-logo">
    </div>
    <h4>REGISTER</h4>
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div class="form-group">
        <input type="text" name="cname" id="name" placeholder="Name" required [(ngModel)]="formData.cname">
      </div>
      <div class="form-group">
        <input type="text" name="caddress" id="address" placeholder="Address" required [(ngModel)]="formData.caddress">
      </div>
      <div class="form-group">
        <input type="email" name="cemail" id="email" placeholder="Email address" required [(ngModel)]="formData.cemail">
      </div>
      <div class="form-group">
        <input type="password" name="cpassword" id="password" placeholder="Password" required [(ngModel)]="formData.cpass">
      </div>
      <div class="form-group">
        <input type="text" name="cmobile" id="mobile" placeholder="Mobile Number" required [(ngModel)]="formData.cmoblile">
      </div>
      <div class="form-group">
        <input type="text" name="city" id="city" placeholder="City" required [(ngModel)]="formData.city">
      </div>
      <div class="form-group">
        <input type="text" name="state" id="state" placeholder="State" required [(ngModel)]="formData.state">
      </div>
      <div class="form-group">
        <input type="text" name="pincode" id="pincode" placeholder="Pincode" required [(ngModel)]="formData.pincode">
      </div>
      <div class="form-group">
        <input type="submit" value="Register">
      </div>
      <div class="form-group">
        Already have an account? <a routerLink="/app-login">Sign in</a>
      </div>
    </form>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>