body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #f0f0f0f7;
  min-height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

}

/* .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.login-logo {
  width: 100px;
  height: auto;
}

h3 {
  float: left;
  margin-left: 20px;
  /* font-size: 2.5em; */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  /* color: #ff0000; */
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
  flex-grow: 1;
  height: 1.5px;
  background-color: #ccc;
}

.or {
  margin: 0 20px;
  font-weight: bold;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

#question{
  width: 85%;
  height: 35px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 1.5rem;
  /* box-sizing: border-box; */
  float: left;
  margin-left: 36px;
  /* margin-right: 200px; */
}

textarea{
  /* justify-content: center; */
  width: 85%;
  border-radius: 5px;
  font-size: 1.5rem;
  /* padding-top: 5px; */
  margin-bottom: 10px;
  /* box-shadow: none; */
  /* box-sizing: border-box; */
  border: 1px solid #ccc;
  padding: 7px;
  
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  width: 50%;
  height: 35px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 1.5rem;
  float: left;
  margin-left: 36px; 
}

select{
  width: 85%;
  height: 35px;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: none;
  border: 1px solid #ccc;
  /* border-style: none; */
}

input[type="submit"] {
  width: 25%;
  background-color: #ff0000;
  border-color: #ff0000;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 5px 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
  margin-left: 36px;
}

input[type="submit"]:hover {
  background-color: #ff0000;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn i.fa-google {
  color: #fff;
  background-color: #ff0000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.btn i.fa-google:hover {
  background-color: #ff0000;
}

a{
  /* color: #ff0000; */
  text-decoration: none;
  /* float: left; */
}
b{
  float: left;
  margin-left: 5px;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
input[type="checkbox"]{
  position: relative;
  float: left;
  margin-left: 36px;
}
h4{
  float: left;
  margin-left: 36px;
}