<!DOCTYPE html>
<html>
  <head>
    <title>Find a Lawyer</title>
  </head>
  <body class="find-lawyer-body">
    <div class="container">
      <div class="find-lawyer-page">
        <div class="banner-find">
        <h1 class="h1">Find Lawyers in India</h1>
          <div class="container">
            <div class="form-find">
              <form class="js-search-form" action="/lawyers/india" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <div class="form-item">
                  <select name="law_area" id="law_area" class="form-select js-search-lawyer">
                    <option value="">Choose Law Area</option>
                    <option value="divorce">Civil Law</option>
                    <option value="criminal">Constitutional Law</option>
                    <option value="criminal">Criminal Law</option>
                    <option value="divorce">Family Law</option>
                    <option value="property">Business Law</option>
                    <option value="criminal">Consumer Law</option>
                    <option value="property">Labour Law</option>
                    <option value="property">Property Law</option>
                  </select>
                </div>
                <div class="form-item">
                  <input type="text" name="city" id="city" placeholder="Choose Location" class="form-text form-city js-search-city">
                </div>
                <div class="form-submit" style="text-align: center;">
                <input type="submit" name="commit" value="Get Started" data-disable-with="Get Started">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>