<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
  <div class="container">
    <!-- <div class="text-center">
      <img src="assets/images/Sign In.png" alt="Login Logo" class="login-logo">
    </div> -->
    <h3>Talk to a Lawyer for 15 minutes</h3>
    <form class="form-horizontal" method="post">

        <div class="form-group">
            <textarea  id="exampleFormControlTextarea1" rows="2" placeholder="Briefly describe your issue"></textarea>
        </div>
        
        <div class="form-group">
            <input type="text" name="email" id="email" placeholder="Email address" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Sign In">
        </div>

        <div class="form-group">
            <a routerLink="forgot_password">Forgot Password?</a>
        </div>

        <div class="form-group">
            Don't have an account? <a routerLink="lawyer_register">Sign Up</a>
        </div>

        <div class="divider">
            <div class="line"></div>
            <span class="or">or</span>
            <div class="line"></div>
        </div>      

        <div class="form-group">
            <button type="button" class="btn btn-default">
            <i class="fa fa-google"></i> Sign in with Google
            </button>
        </div>

    </form>
  </div>
</body>
</html>