<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card bg-dark text-white mb-3" style="max-width: 40rem;">
    <div class="card-header">
      <p class="card-text">Chapter: {{ ipc_b.chapter }}</p>
      <p class="card-text">Section: {{ ipc_b.section }}</p>
    </div>
    <div class="card-body">
  
        <h3 class="card-text">Chapter: {{ ipc_b.chapter_title }}</h3>
        <h4 class="card-text">Section: {{ ipc_b.section_title }}</h4>
   
      <p class="card-text">{{ ipc_b.section_desc }}</p>
    </div>
  </div>
  </div>