 <div class="footer">
    <div class="container">  
     <div class="row text-left text-xs-left text-sm-left text-md-left">  
     
     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto md-3 text-align:left">
      
      <div class="ul">
        <h5> About Kaanoon </h5> 
     </div>
     </div>  
     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto md-3">
     <h5>Lawyers</h5>
     <div class="ul">
      <ul class="list-unstyled quick-links"> 
      <li>Lawyers in New Delhi</li>
     <li>Lawyers in Bangalore</li>
     <li>Lawyers in Allahabad</li>
      <li>Lawyers in Hyderabad</li>
     <li>Lawyers in Mumbai</li>
     <li>Lawyers in Kolkata</li>
     <li>Lawyers in Noida</li>
     <li>More lawyers</li>
     </ul>
     </div>
        </div>  
       <div class="col-md-3 col-lg-2 col-xl-2 mx-auto md-3">
        <h5>Divorce Lawyers </h5> 
         <div class="ul"> 
         <ul class="list-unstyled quick-links">  
      <li>Divorce lawyers in Delhi</li>
      <li>Divorce lawyers in Bangalore</li>
      <li>Divorce lawyers in Allahabad</li>
      <li>Divorce lawyers in Hyderabad</li>
      <li>Divorce lawyers in Mumbai</li>
      <li>Divorce lawyers in Noida</li>
       <li>More divorce lawyers</li>
        </ul> 
        </div> 
           </div>  
     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto md-3">  
        <h5>Property Lawyers </h5>  
        <div class="ul">
         <ul class="list-unstyled quick-links">  
      <li>Property lawyers in New Delhi</li>
      <li>Property lawyers in Allahabad</li>
      <li>Property lawyers in Bangalore</li>
      <li>Property lawyers in Hyderabad</li>
      <li>Property lawyers in Mumbai/li</li>
      <li>Property lawyers in Kolkata</li>
       <li>Property lawyers in Noida</li>
       <li>More property lawyers</li>
        </ul>  
        </div>
          </div>
         <div class="col-md-3 col-lg-2 col-xl-2 mx-auto md-3  text-white">  
        <h5>Indian Laws </h5>  
        <div class="ul">
         <ul class="list-unstyled quick-links">  
         <li>Indian Penal Code</li>
         <li>Hindu Marriage Act</li>
          <li>Special Marriages Act</li>
          <li>Hindu Succession Act</li>
         
           <li>Indian Divorce Act</li>
           <li>Consumer Protection Act</li>
          </ul>  
           </div>
           </div> <br>
           <br>     
        <div class="row">  
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"><br>
          <br>  
       <p> Disclaimer: The lawyer listings on kaanoon.com do not constitute a referral or endorsement by kaanoon.com. kaanoon.com is not an advertising service for lawyers. kaanoon.com is providing legal information for nominal charges. Your access to and use of this site is subject to our <a href="/terms">Terms of Use</a>.
       </p>
        </div>  
        </div>      
    </div>
 </div>
     

