
<div class="container" style="margin-top: 100px;">
    <h2>Questions</h2>
    <table class="table table-bordered table-stripped table-condensed  ">
        <thead>
            <tr class="bg-primary">
                <th>Question id</th>
                <th>Domain</th>
                <th>Question Title </th>
                <th>Question description</th>
                <th>Method</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of formData">
                <td>{{f.qid}}</td>
                <td>{{f.domain}}</td>
                <td>{{f.qtitle}}</td>
                <td>{{f.qdesc}}</td>
                <td>
                <button  (click)="deletequestionbyId(f.qid)"class="btn btn-primary">Delete Question</button>
                <button class="btn btn-primary" routerLink="/Lawyer-answer">Give Answer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>